html, body{
    margin: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    width: 15%;
    height: 100%;
    float: left;
}
.contain{
    float: left;
    min-height: 100%;
    width: 85%;
    position: relative;
}
main{
    padding: 1em 1em 3em 1em;
}
footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 55%;
    margin: 0 15%;
    padding: 10px 0;
    border-top: 2px solid black;
}
.cols{
    float: left;
    width: 8.25%;
}
.rows{
    display: block;
    border: 1px solid black;
    width: 100%;
    height: auto;
}
.truetime{
    background-color: darkred;
    color: white;
    font-weight: bold;
}