* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    position: fixed;
    width: 15%;
    background-color: black;
    height: 100%;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 16px 0;
    transition-duration: 0.5s;
    font-weight: bolder;
}

nav a:first-child {
    margin-top: 100px;
    padding: 0;
    height: 53px;
}

nav a p {
    position: relative;
    top: -15px;
    font-size: 53px;
}

nav a:hover {
    transition-duration: 0.5s;
    background-color: white;
    color: black;
}

.contain {
    min-height: 100%;
    width: 85%;
    margin-left: 15%;
    position: relative;
}

main {
    padding: 1em;
    padding-bottom: 48px;
    overflow: hidden;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

h1, .grid3 {
    grid-column: span 3;
}

.lefttext {
    text-align: left;
}

.inline {
    display: inline;
}

section {
    grid-column: span 1;
    text-align: left;
}

section:not(:first-child) {
    padding-left: 10px;
}

section:not(:last-child) {
    padding-right: 10px;
    border-right: 2px solid black;
}

table {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

td {
    text-align: center;
    padding: 20px 0;
    color: white;
    width: 40px;
}

.redcard {
    background-color: darkred;
}

.blackcard {
    background-color: black;
}

footer {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 70%;
    margin: 0 15%;
    padding: 10px 0;
    border-top: 2px solid black;
    background-color: white;
}

.cols {
    float: left;
    width: 8.25%;
}

.rows {
    display: block;
    border: 1px solid black;
    width: 100%;
    height: auto;
}

.truetime,
.realtime,
.badchoice {
    color: white;
    font-weight: bold;
}

.truetime {
    background-color: darkblue;
}

.realtime {
    background-color: darkgreen;
}

.badchoice {
    background-color: darkred;
}